<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>FrontEnders &trade;</title>
  <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon" />
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/" />
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/pricing/" />
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/features/" />
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/heroes/" />
  <!-- Adicionando JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- Bootstrap core CSS -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/style.css" />

  <!-- Custom styles for this template -->
  <link href="../assets/css/headers.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/style.css" />
</head>
<!---->

<body>
  <!---->
  <div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="../index.html" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-code-slash"
          viewBox="0 0 16 16">
          <path
            d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z" />
        </svg>
        <b>FrontEnders &trade;</b></a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="../index.html" class="nav-link px-2 link-secondary">Início</a>
        </li>
        <li>
          <a href="planos.html" class="nav-link px-2 link-dark">Serviço</a>
        </li>
        <li>
          <a href="lista.html" class="nav-link px-2 link-dark">Lista</a>
        </li>
        <li>
          <a href="equipe.html" class="nav-link px-2 link-dark">Desenvolvedores</a>
        </li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="login.html"><button type="button" class="btn btn-outline-primary me-2">
            Login
          </button></a>
        <!--<a href="cadastro.html"><button type="button" class="btn btn-primary">Cadastro</button></a>-->
      </div>
    </header>
  </div>
  <div class="text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-4 fw-bold">Lista de espera</h1>
      <p>
        Deixe seus dados e seja avisado sobre o lançamento! Você também
        poderá ser convidado para ser um testador beta.
      </p>
    </div>
  </div>
  <!--Conteúdo lista de espera-->

  <!--<form method="get" action="dados">-->
  <form method="get" action="dados" target="#">
    <div class="text-center" id="divao1">
        <label for="" >Nome:</label>
        <input type="text" id="full_name" required />      

        <label for="" >Sobrenome:</label>
        <input type="text" id="full_name" required />      

        <label for="" >RG:</label>
        <input type="number" id="rg" placeholder="Somente Números" required />      

        <label for="" >E-mail:</label>
        <input type="email" id="email" required />      

        <label for="" >Senha:</label>
        <input type="password" id="password" required />      

        <label for="" >Confirme a senha:</label>
        <input type="password" id="password_confirmation" required />      

        <label >Cep:</label>
        <input name="cep" type="number" id="cep" placeholder="Somente Números" value="" size="10" maxlength="9" />      

        <label >Rua:</label>
        <input name="rua" type="text" id="rua" size="auto" />      

        <label >Bairro:</label>
        <input name="bairro" type="text" id="bairro" />      

        <label >Cidade:</label>
        <input name="cidade" type="text" id="cidade" />      

        <label >Estado:</label>
        <input name="uf" type="text" id="uf" />      

        <label >IBGE:</label>
        <input name="ibge" type="text" id="ibge" />      
        <button class="btn btn-primary" type="submit">
          Enviar
        </button>
    </div>
  </form>

  <!-- FOOTER -->
  <br /><br />
  <footer class="container">
    <p class="float-end"><a href="#">Voltar para o topo</a></p>
    <p>
      &copy; 2022-2023 FrontEnders &trade; &middot;
      <a href="#">Privacidade</a> &middot; <a href="#">Termos</a>
    </p>
  </footer>
  <!---->
  <!--SCRIPT VIA CEP-->
  <script src="../controllers/ApiCep.js"></script>
  <script src="../models/Cadastro.js"></script>
  <script src="../controllers/CadastroController.js"></script>
  <!---->
  <script src="../assets/js/bootstrap.bundle.min.js" defer></script>
</body>

</html>